HTTP_ADDR=:8080
GOOGLE_SHEETS_ID=1f_GUmwxygxnrWOIyYB9M3BzhK3e7VsP9tTR5gjsECTU
GOOGLE_APPLICATION_CREDENTIALS=./service-account.json
# Alternative to GOOGLE_APPLICATION_CREDENTIALS:
# GOOGLE_SERVICE_ACCOUNT_JSON={"type":"service_account",...}
FRONTEND_ORIGINS=http://localhost:5173,http://127.0.0.1:5173,http://127.0.0.1:5175
SHEET_WRITE_TOKEN=change-me
